  
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    
      background: linear-gradient(-45deg, #ff2727, black,black, #ff2727) ;
      background-size: 400% 400%;
      animation: gradient 12s ease infinite;
    }
    
    @keyframes gradient {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
    }
/* Nav Bar Style */

.navbar-brand, .nav-link{
    font-family: cursive;
    text-decoration-line: underline;
    color: white;


} 
/* Body and Background image properties */
/* .body{
    background-color: #B0D7FF;
    margin: auto;
    background-image: url("./backgroundimg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
} */

/* About me selfie */
#imageofme{
    padding: 5px 10px;
}
/* About me Portfolio Contact page header */
.about, .contactme, .portheader{
    font-weight: bold;
    color: white;
    font-family: cursive;
    text-align: center;
    text-decoration-line: underline ;  
   
    
}
/* About me information */
.greetings {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: x-large;
    padding: 5px;
    color: white;
}

/* text box form headers */
.contactlabel{
    color: white;
}
/* text box width  */
.textbox{
    width: 100%;
}
/* text box message input box */
.textboxmessage{
    width: 100%;
    height: 100px;
}
.card:hover{
    transform: scale(1.1);
    transition: .5s ease-in;
}
.portCard{
    margin-left: auto;
    margin-right: auto;
    float: left;
    border-radius: 10px;
    position: relative;
    margin-bottom: 100px;
    background-color: white;
    padding: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

.card-title{
    text-decoration: underline;
    font-family: 'IBM Plex Sans', sans-serif;
}

.features{
    background-color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}

.footer {
    background-color: black;
    position: fixed;
    bottom:0px;
    height: 80px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
 }

